@using RunGroupWebApp.Data.Enum
@using RunGroupWebApp.ViewModels
@model EditClubViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body class="bg-light">

    <div class="container">
        <div class="py-5 text-center">
            @* <img class="d-block mx-auto mb-4" src="@Model.URL" alt="" width="350" height="420"> *@
            <h2>修改此Club吧</h2>
            <p class="lead">修改活動相關資訊</p>
        </div>

        <div class="row">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0 " src="@Model.URL" alt="..." /></div>
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">活動內容</h4>
              
                <form method="post" asp-action="Edit" class="needs-validation" enctype="multipart/form-data">
                    <input type="hidden" value="AddressId" id="AddressId" />
                    <div class="mb-3">
                        <label asp-for="Title">活動名稱</label>
                        <input asp-for="Title" class="form-control" placeholder="活動名稱" required>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="col-md-5 mb-3">
                        <label asp-for="ClubCategory">類別</label>
                        <select asp-for="ClubCategory" asp-items="@Html.GetEnumSelectList<ClubCategory>()"
                                class="form-control" required>
                            <option>--選擇--</option>
                        </select>
                        <span asp-validation-for="ClubCategory" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Description" class="form-label">活動詳細</label>
                        <textarea asp-for="Description" class="form-control" placeholder="描述活動內容" rows="4" required></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Capacity" class="form-label">人數</label>
                        <input asp-for="Capacity" class="form-control" placeholder="輸入可參加人數" required></input>
                        <span asp-validation-for="Capacity" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Image">圖片上傳</label><br />
                        <input asp-for="Image" type="file" class="form-control">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>

                    <div class="col-md-5 mb-3">
                        <label asp-for="Address.City">縣市</label>
                        <select asp-for="Address.City" asp-items="@Html.GetEnumSelectList<City>()"
                                class="form-control" required>
                            <option>--選擇--</option>
                        </select>
                        <span asp-validation-for="Address.City" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Address.Street">地址</label>
                        <input asp-for="Address.Street" class="form-control" placeholder="西屯路二段" required>
                        <span asp-validation-for="Address.Street" class="text-danger"></span>
                    </div>

                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
