body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
}

.square-image {
    width: 100%; /* You can adjust this value as needed */
    height: 236px; /* This should be the same as the width */
    object-fit: cover;
    object-position: center;
}

.club-image {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}

.club-image:hover {
    transform: scale(1.05);
}

.btn-custom {
    transition: all 0.3s ease;
}

.btn-custom:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.user-card {
    transition: all 0.3s ease;
}

.user-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.badge-custom {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}
