body {
    background-color: #f8f9fa;
}

.form-container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* Profile header */
.profile-header {
    background-color: #e0e0e0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 20px;
}

.profile-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.profile-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    margin-bottom: 10px;
}

    .profile-image:hover {
        transform: scale(1.05);
    }

.profile-username {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.edit-profile-btn {
    color: #333;
    border-color: #333;
    background-color: transparent;
    transition: all 0.3s ease;
}

    .edit-profile-btn:hover {
        background-color: #333;
        color: white;
    }


.profile-img {
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.profile-img:hover {
    transform: scale(1.05);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: all 0.3s ease;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

.form-control:focus, .form-select:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
